@import"../init.scss";

.tb-sim,.tb-inSim{
  overflow: hidden;
  h3{
    font-size:24px ;
    margin: 20px 0;
  }
    li{
      float: left;
 
    }
    a{
      &:hover{
        border: 1px solid orangered;
      }
      width: 227px;
      height: 360px;
      margin-right: 16px;
      background: #fff;
      border: 1px solid #fff;
      transition:all 1s;
      h4{
        font-size: 16px;
        margin: 30px 0 8px 30px;
      }
      p{
        margin: 0 0 8px 30px;
        color: #999;
      }
      .price{
        margin: 0 0 40px 30px;
        color: orangered;
      }
      img:not(.notImg){
        margin-left: 10px;
        width: 197px;
        height: 190px;
      }
    }
    .notmargin{
      margin: 0;
    }
}

.tb-use{
  overflow: hidden;
  h2{
    margin: 20px;
    font-size: 26px;
  }
  section{
    
    overflow: hidden;
    width: 280px;
    height: 420px;
    border-top: 1px solid red;
    background: #fff;
    margin:0 26px 50px 0;
    float: left;
    &:last-of-type{
      margin-right: 0;
    }
    h3{
      color: orangered;
      text-align: center;
      margin: 20px 0;
    }
    article{
      width: 880px;
      a{
        width: 280px;
        text-align: center;
        p:nth-child(2){
          font-size: 12px;
          color: #999;
          margin-bottom: 50px;
        }
        p:nth-child(1){
          font-size: 22px;
        }
      }
    }
    .btnlist{
      margin-top: 10px;
      text-align: center;
      span{
       
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #999;
        &:hover{
          border: 1px solid orangered;
          background: #fff;
          cursor: pointer;
        }
      }
    }
  }
}